<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="../static/favicon.ico"
	th:href="@{/static/favicon.ico}" />
<link rel="stylesheet" th:href="@{css/pure-min.css}" />
<link rel="stylesheet" th:href="@{css/grids-responsive-min.css}" /> 
<title>SSO Authentication Page</title>
</head>
<body>
	 
	 
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Access Denied! </h1>
        <p class="splash-subhead">
            Anda tidak berhak masuk ke halaman ini !
        </p>
        <p>
            Kontak administrator Anda di kontak@masalah.com
        </p>
    </div>
</div>
	 
		 

		 

	 

</body>

</html>